{% unless post.nocopyright %}

<ul class="post-copyright">
  <span style="font-weight:bold;text-align:center">版权声明</span>
  <li>
  <img src="/images/Copyright_CC.png">
  </li>
  <li class="post-copyright-link">
    <strong>本文链接：</strong><a href="{{ page.url }}" title="{{ page.title }}">{{ site.url }}{{ page.url }}</a>
  </li>
  <li class="post-copyright-license"><p>
    本文由 <a href="/" title="欢迎访问 {{ site.title }} 的个人博客">{{ site.title }}</a> 创作，采用
    <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.zh" rel="license" target="_blank">Creative Commons BY-NC-ND 4.0 International License</a>
    协议授权. <strong>转载请保留以上声明信息, 谢谢合作!</strong>
  </p></li>
</ul>
{% endunless %}
