---
layout: default
---

<article class="post-container post-container--single" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
      <img src="/images/calendar.png" width="20px"/> 
      <time datetime="{{page.date | date: date_to_xmlschema}}" itemprop="datePublished" class="post-meta__date date">{{page.date | date: "%F"}}</time>  
	  {% for tag in post.tags %}
        <span class = "tag-img-icon">
          <img src="/images/tag-icon.svg" width="20px" /> 
        </span>
        <a href="/tags/#{{ tag[0] }}-ref">
          <span class = "post-list-icon-mate">
            <span class="post-list__meta--tags-right">{{ tag[0] }}</span>
          </span>
        </a>
      {% endfor %}
         
      <span id="busuanzi_container_page_pv"> | 阅读：<span id="busuanzi_value_page_pv"></span>次</span>
    </div>
  </header>

  <section class="post">
    {{ content }}

  </section>
</article>

{% include new-old.html %}
{% include comments.html %}
